<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function display(data) {
        Highcharts.chart('openingclosingcontainer', {
            chart: {
                type: 'line'
            },
            title: {
                text: '5년 간 음식점 개업 수, 폐업 수'
            },
            subtitle: {
                text: 'Source: 인허가 데이터'
            },
            xAxis: {
                categories: data.index
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'opening',
                data: data.opening
            }, {
                name: 'closing',
                data: data.closing
            }]
        });
    }

    function getdata() {
        // display();

        $.ajax({
            url: 'openingclosings',
            datatype: 'JSON',
            success: function(data) {
                display(data);
                console.log(data);
            }
        });

    };

    $(document).ready(function(){
        console.log('호출');
        getdata();
    });
</script>
<body>
<main>
   <h1>5년 간 음식점 개업 수, 폐업 수</h1>
   <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-chart-area me-1"></i>
          Area Chart Example
      </div>
      <div class="card-body">
         <div id="openingclosingcontainer" width="100%" height="30"></div>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</main>
</body>
</html>